<%- include("partials/header.ejs") %>
<div class = "ui fixed inverted menu">
    <div class = "ui container">
        <div class = "header item"><i class = "code icon"></i>Alok's Bank</div>
        <a href = "/" class = "item">Home</a>
        <div class = "right menu">
            <a href = "/login" class = "item">login</a>
            <a href ="/signup" class = "item">Signup</a>
        </div>
    </div>
</div>

<div class = "ui main text container segment">
<p>welcome to Aloks bank</p>
</div>
<%- include("partials/footer.ejs") %>